html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    color : white;
}

.light {
    color: #cccccc;
}

.HUD {
    position: absolute;
    z-index: 101;
    cursor: default;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#fullscreen {
    z-index: 101;
    position: absolute;
    font-size: 3em;
    bottom: 3vmin;
    right: 5vmin;
    cursor: pointer;
}

#controls {
    z-index: 101;
    position: absolute;
    font-size: 3em;
    bottom: 3vmin;
    left: 5vmin;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.overlay {
    position: absolute;
    z-index: 101;
    cursor: default;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
}

#menu {
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 5%;
}

.slider-container {
    width: 25%;
}

#play-button {
    padding: 0.2em 1em;
    font-size: 3.5em;
    font-weight: bold;
}

#flag-count {
    top: 3vmin;
    left: 5vmin;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#timer {
    top: 3vmin;
    right: 5vmin;
}

#flag-count > *,
#timer > * {
    font-size: 4em;
}
